<div class="footer narrow">
  <div class="col-centered">
    <div class="social-media"><a href="https://x.com/projtimestamper">𝕏: @projtimestamper</a></div>
    <div class="social-media"><a href="https://techhub.social/@projecttimestamper">Mastodon: @projecttimestamper@techhub.social</a></div>
    <div class="social-media"><a href="https://bsky.app/profile/projecttimestamper.bsky.social">Blue Sky: @projecttimestamper.bsky.social</a></div>
    <div class="social-media"><a href="mailto:info@projecttimestamper.org">Email us: info@projecttimestamper.org</a></div>
    <div class="navbar">
      <a href="/">Home</a> | <a href="/about">About</a> | <a href="/team">Team</a> | <a href="/faq">FAQ</a> | <a href="/comments">Comments</a>
    </div>
    <div class="creative-commons">
      <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
        <a
          property="dct:title"
          rel="cc:attributionURL"
          href="https://projecttimestamper.org"
        >Project Timestamper</a>
        by
        <span property="cc:attributionName">Yağmur Şahin and Arthur Edelstein</span>
        is licensed under
        <a
          href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
          target="_blank"
          rel="license noopener noreferrer"
        >
          Creative Commons Attribution 4.0 International
          <img
            eleventy:ignore
            style="height:22px;width:auto;margin-left:3px;vertical-align:text-bottom;"
            src="/img/cc.svg"
            alt="Creative Commons logo"
          >
          <img
            eleventy:ignore
            style="height:22px;width:auto;margin-left:3px;vertical-align:text-bottom;"
            src="/img/by.svg"
            alt="Attribute logo"
          >
        </a>
      </p>
    </div>
  </div>
</div>
