<div class="footer narrow">
  <div class="col-centered">
    <div class="social-media"><a href="https://x.com/projtimestamper">𝕏: @projtimestamper</a></div>
    <div class="social-media"><a href="https://techhub.social/@projecttimestamper">Mastodon: @projecttimestamper@techhub.social</a></div>
    <div class="social-media"><a href="https://bsky.app/profile/projecttimestamper.bsky.social">Blue Sky: @projecttimestamper.bsky.social</a></div>
    <div class="social-media"><a href="mailto:info@projecttimestamper.org">Email us: info@projecttimestamper.org</a></div>
    <div class="navbar">
      <a href="/">Home</a> | <a href="/about">About</a> | <a href="/team">Team</a> | <a href="/faq">FAQ</a> | <a href="/comments">Comments</a>
    </div>
  </div>
</div>
