<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🕚</text></svg>">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/hamburger.css">
  <title>{{title}}</title>
  <!-- HTML Meta Tags -->
  <meta name="description" content="Preserving the integrity of the record of human culture and science">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://projecttimestamper.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Project Timestamper">
  <meta property="og:description" content="Preserving the integrity of the record of human culture and science">
  <meta property="og:image" content="https://projecttimestamper.org/images/card.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="projecttimestamper.org">
  <meta property="twitter:url" content="https://projecttimestamper.org">
  <meta name="twitter:title" content="Project Timestamper">
  <meta name="twitter:description" content="Preserving the integrity of the record of human culture and science">
  <meta name="twitter:image" content="https://projecttimestamper.org/images/card.png">

</head>
