<!doctype html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include './hamburger.html' %}
    <div class="site-title-container splash">
      <div class="narrow site-title-wrapper col">
        <div class="site-title">
          <a href="/">{{site-title}}</a>
        </div>
        <div class="site-tagline">
          {{tagline}}
          <div class="learn-more">
            <a class="learn-more" href="/about">Learn more →</a>
          </div>
        </div>
      </div>
    </div>
    <div class="narrow subheading">
      <h3>{{subtitle}}</h3>
      {{description}}
    </div>
    <div class="content inner row items">
      {% for item in items %}
      <div class="item col width1">
        <div class="item-name">
          {{item.name}}
        </div>
        <img
          class="item-image"
          src="/images/{{item.image}}"
          alt="{{item.alt}}"
        >
        <div class="facts">
          <a href="{{item.url}}">{{item.description}}</a>
        </div>
        <div class="date facts">
          Stamp date: {{item.stamp-date}}
        </div>
      </div>
      {% endfor %}
    </div>
    {% include "footer.html" %}
  </div>
  </body>
</html>
